################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/storage_tracker/bin/Debug/net10.0-windows
/storage_tracker/obj
*.user
